@media screen and (min-width:500px) {
	#container {
		padding: 2em;
	}
	.toolbox {
		margin: 2em;
	}
}
@media screen and (max-width:700px) {
	.toolbox {
		max-width: calc(100vw - 6em);
	}
}
@media screen and (min-width:701px) {
	.toolbox {
		max-width: 600px;
	}
}
html {
	font-size: 1em;
}
html, pre {
    ::-webkit-scrollbar {
        width: 10px;
      }

      ::-webkit-scrollbar-track {
        background-color: transparent;
      }

      ::-webkit-scrollbar-thumb {
        background-color: #666;
        border: 5px solid transparent;
        background-clip: content-box;
      }

      ::-webkit-scrollbar-thumb:hover {
        background-color: #aaa;
      }
}
body, html {
	background: #000;
	padding: 0;
	margin: 0;
}
#container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.item {
	padding: .25em;
	#output {
		max-width: 100%;
	}
	img {
		width: 375px;
		max-width: 100%;
	}
	pre {
		background: #222;
		padding: 1em 2em;
		border-radius: 5px;
		text-wrap: wrap;
	}
	button {
		border: 1px solid #666;
		background-color: #222;
		color: #eee;
		line-height: 1.75;
		cursor: pointer;
		padding: 0.4em;
		transition-duration: 200ms;
		user-select: none;
		-webkit-appearance: button;
		text-transform: none;

		&.small {
			line-height: 1;
		}

		&:disabled {
			background-color: #444;
			cursor: not-allowed;
		}

		&:hover {
			background-color: #333;
			cursor: pointer;
		}
	}
	select, input {
		color: #eee;
		background-color: transparent;
		border: 1px solid #444;
		padding: .34em .4em;
		cursor: pointer;
	}
	input[type="text"], input[type="number"], input[list] {
		width: 5em;
		cursor:text;
	}
	input:focus,input:hover,select:focus,select:hover,textarea:focus,textarea:hover {
		background-color: #333;
		border-color: #eee
	}
	input[type=checkbox],input[type=file],input[type=radio],select {
		cursor: pointer;

		&:disabled {
			cursor: not-allowed;
		}
	}

}
.toolbox {
	background: #000;
	color: #eee;
	padding: 2em;
	border-radius: 5px;
	margin: 1em;
	border: solid #eee 1px;
	flex: 1 1 300px;
	height: fit-content;
	a {
		cursor: pointer;
		color: #68d;
		text-decoration: none;
		-webkit-transition-duration: .2s;
		-o-transition-duration: .2s;
		transition-duration: .2s
	}
	a:hover {
		color: #8af;
		text-decoration: underline;
	}
	.tipBox {
		font-size: .9em;
	}
}
div#dol {
	float: right;
	width: 375px;
	max-width: 100%;
	flex: 0 1 375px;
	#html {
		min-height: 667px;
	}
}

div#dol, #customWidgetDisplay {
	a[data-if-index="1"]::before {
		content: attr(data-index);
	}

	img {
		max-width: 100%;
		border: 0px;
		image-rendering: pixelated;
		vertical-align: middle;
	}

	.noDisplay {
		background: rgba(173, 216, 230, .5);
		padding: 0 6px;
		margin: 2px 2px;
		border-radius: 2px;
		font-size: .8em;
		display: inline-block;
	}
}

/** Colour Classes **/

/* Utility */
.linkBlue {
	color: var(--link);
}

/* Regular Colours */
.red {
	color: var(--red);
}

.pink {
	color: var(--pink);
}

.light-pink {
	color: var(--pink-secondary);
}

.purple {
	color: var(--purple-secondary);
}

.blue {
	color: var(--blue);
}

.lblue,
.light-blue {
	color: var(--blue-secondary);
}

.teal {
	color: var(--teal);
}

.green {
	color: var(--green);
}

.lime-green {
	color: var(--lime);
}

.brown {
	color: var(--brown);
}

.gold,
.gold button,
.goldLink a {
	color: var(--gold);
}

.hide a {
	color: var(--200);
	text-decoration: none;
}

.hide a:hover {
	color: var(--200);
	text-decoration: none;
}

.silver {
	color: var(--silver);
}

.bronze {
	color: #cd7f32;
}

.steel {
	color: #8d9496;
}

.blue-steel {
	color: #393747;
}

.yellow,
.pale-yellow {
	color: var(--yellow);
}

.orange {
	color: var(--orange);
}

.tangerine,
.pale-tangerine {
	color: var(--orange);
}

.black {
	color: var(--black);
}

.softbrown {
	color: #a45e16;
}

.lightbrown,
.light-brown {
	color: #c5793a;
}

.burntorange {
	color: #d47730;
}

.bloodorange {
	color: #ff4000;
}

.bluehair {
	color: #3973ac;
}

.deepblue {
	color: #0d2f73;
}

.neonblue {
	color: #00d5ff;
}

.greenhair {
	color: #005c00;
}

.darklime {
	color: #4a8000;
}

.toxicgreen {
	color: #99e600;
}

.tealhair {
	color: #008040;
}

.pinkhair {
	color: #e05281;
}

.brightpink {
	color: #ff80aa;
}

.hotpink {
	color: #ff4dc4;
}

.softpink {
	color: #d6855c;
}

.crimson {
	color: #b30000;
}

.purplehair {
	color: #48095d;
}

.mediumpurple {
	color: #3600b2;
}

.brightpurple {
	color: #ab66ff;
}

.whitehair {
	color: #808080;
}

.snowwhitehair {
	color: #fff;
}

.softblond {
	color: #e4cd87;
}

.platinum {
	color: #fef593;
}

.ashy {
	color: #d3cfaa;
}

.strawberry {
	color: #f08c51;
}

.lewd {
	color: var(--lewd);
}

.grey {
	color: #b7b7b7;
}

.light-grey {
	color: #dddada;
}

.tan {
	color: #d2b48c;
}

.sand {
	color: #ffdfa1;
}

.olive {
	color: #8e8e38;
}

.navy {
	color: #667dc1;
}

.wine {
	color: #8b3626;
}

.fleshy {
	color: #ffddc8;
}

/* End of Regular Colour Classes */

/* Status Colours */
.brat {
	color: var(--brat);
}

.meek {
	color: var(--meek);
}

.def {
	color: var(--defiant);
}

.sub {
	color: var(--purple-secondary);
}

.relaxed {
	color: var(--relaxed);
}

.anxious {
	color: var(--anxious);
}

.veteran {
	color: var(--veteran);
}

.methodical {
	color: var(--methodical);
}

.scarred {
	color: var(--scarred);
}

.tattooed {
	color: var(--tattooed);
}

.manager {
	color: var(--manager);
}

/* End of Status Colour Classes */


/** End of Colour Classes **/

@keyframes lustful {
	0% {
		background-position: 0;
	}

	100% {
		background-position: -6000px;
	}
}

.lustful {
	animation: 60s infinite linear lustful;
	background: linear-gradient(90deg, var(--purple), var(--lewd), #b66bec, #ff1493);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.wraith {
	background: var(--150);
	text-shadow: 0 0 7px var(--150), 0 0 22px var(--purple), 0 0 32px var(--purple);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.nextWraith {
	filter: drop-shadow(0 0 3px var(--gold));
}

.nextWraith a {
	background: var(--150);
	text-shadow: 0 0 12px var(--150), 0 0 27px var(--purple), 0 0 37px var(--purple);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}
